@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Montaga&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/*Header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 0;
  font-size: 10px;
  font-family: "Fuzzy Bubbles", cursive;
  font-family: "Montaga", serif;
  font-family: "Playfair Display SC", serif;
  background-color: black;
}

header h1 {
  font-size: 20px;
  font-family: "playfair Display SC", serif;
  color: black;
  font-size: 2.5em;
  width: 400px;
  padding: 17px;
}

/*navbar*/
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: top;
  top: 0;
}

/* style input container*/
nav input {
  display: flex;
  border: black;
  float: right;
  height: 100%;
  margin-right: 40px;
  width: 250px;
}

nav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 10px;
  border: black;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}
/*navbar links*/
nav ul li {
  font-family: "montaga", serif;
  font-size: 1.1rem;
  font-weight: bold;
}
nav ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all 0.3 ease 0s;
}

/*navbar links on mouse-over*/
nav ul li a:hover {
  background-color: red;
  box-shadow: 0 0 10px white;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*main*/
main {
  display: flex;
  text-align: center;
  flex-direction: column;
}

h2 {
  font-size: 20px;
  font-family: "montaga", serif;
  color: white;
  text-align: center;
}

main h2 {
  font-size: 40px;
  padding: 30px;
}

main input {
  width: 60%;
  height: 20px;
  padding: 10px;
}

main h3 {
  font-size: 25px;
  padding: 30px;
  color: white;
  font-family: "montaga", serif;
}
 
main P {
  display: flex;
  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
}
div p{
  color: white;
}

.someClass {
  width: 321px;
  aspect-ratio: auto 321 / 401;
  height: 401px;
  
}

#img-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}






/*footer*/
footer {
  position: bottom;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  font-size: 10px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: black;
}

footer li a {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all 0.3 ease 0s;
  font-family: "montaga", serif;
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 100px;
}

footer li a:hover {
  background-color: red;
  box-shadow: 0 0 10px white;
}
